error_log  stderr notice;

events {
    worker_connections  1024;
}

http {
    map $upstream_http_docker_distribution_api_version $docker_distribution_api_version {
      '' 'registry/2.0';
    }

    # disable any limits to avoid HTTP 413 for large image uploads
    client_max_body_size 0;
    
    include resolvers.conf;

    {{$data := json (getv "/mappings")}}
    {{range $project, $port := $data}}
    server {
        listen  127.0.0.1:{{$port}};
        location /v2/ {
            add_header 'Docker-Distribution-Api-Version' $docker_distribution_api_version always;
	    set $registry "https://docker-registry.{{$project}}-pipeline.svc.cluster.local:443";

            proxy_pass        $registry;
	    proxy_ssl_verify on;
	    proxy_ssl_trusted_certificate /opt/crt/ca.crt;
            proxy_set_header  Host              $http_host;   # required for docker client's sake
            proxy_set_header  X-Real-IP         $remote_addr; # pass on real client's IP
            proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
            proxy_set_header  X-Forwarded-Proto $scheme;
            proxy_read_timeout                  900;
        }
    }

    {{end}}

    
}
